openapi: 3.0.2
info:
  title: Box Platform API
  description: '[Box Platform](https://developer.box.com) provides functionality to provide access to
    content stored within [Box](https://box.com). It provides endpoints for basic manipulation of files
    and folders, management of users within an enterprise, as well as more complex topics such as legal
    holds and retention policies.'
  termsOfService: https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9
  contact:
    name: Box, Inc
    url: https://developer.box.com
    email: devrel@box.com
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '2024.0'
  x-box-commit-hash: cae48740aa
externalDocs:
  description: Box Developer Documentation.
  url: https://developer.box.com
servers:
- url: https://api.box.com/2.0
  description: Box Platform API server.
security:
- OAuth2Security: []
tags:
- name: AI
  description: 'A set of endpoints used to

    interact with supported LLMs.'
  x-box-tag: ai
- name: AI Studio
  description: 'A set of endpoints used to

    interact with AI Studio.'
  x-box-tag: ai_studio
- name: App item associations
  x-box-tag: app_item_associations
- name: Authorization
  description: 'A set of endpoints used to

    manage user authorization process.'
  x-box-tag: authorization
  x-box-priority: true
- name: Box Sign requests
  description: 'Box Sign requests are used

    to submit a file for

    signature.'
  x-box-tag: sign_requests
- name: Classifications
  description: 'Classification labels are

    used for content that is

    sensitive or under security

    restrictions.'
  x-box-tag: classifications
- name: Classifications on files
  description: 'Classification labels are

    used for files that are

    sensitive or under security

    restrictions.'
  x-box-tag: file_classifications
- name: Classifications on folders
  description: 'Classification labels are

    used for folders that are

    sensitive or under security

    restrictions.'
  x-box-tag: folder_classifications
- name: Collaborations
  description: 'Collaborations define access permissions

    for users and groups to files and folders,

    similar to access control lists.'
  x-box-tag: user_collaborations
- name: Collaborations (List)
  description: 'A set of endpoints used to

    retrieve file, folder,

    pending, and group collaborations.'
  x-box-tag: list_collaborations
- name: Collections
  description: 'Collections are a way to group files,

    folders, and web links without putting them

    all into a folder.'
  x-box-tag: collections
- name: Comments
  description: 'Comments are messages generated users on files,

    allowing users to collaborate on a file,

    discussing any feedback they might

    have on the content.'
  x-box-tag: comments
- name: Device pinners
  description: 'Device pinners allow enterprises to

    control what devices can use

    native Box applications.'
  x-box-tag: device_pinners
- name: Domain restrictions (User exemptions)
  description: 'A set of endpoints that allow exempting users

    from restrictions imposed by the list of

    allowed collaboration domains for a specific enterprise.'
  x-box-tag: collaboration_allowlist_exempt_targets
- name: Domain restrictions for collaborations
  description: 'A set of endpoints that manage domains for which users

    can collaborate with files and folders in an enterprise.'
  x-box-tag: collaboration_allowlist_entries
- name: Downloads
  description: 'Downloads allow saving files to the application''s server,

    or directly by the end user in a browser.'
  x-box-tag: downloads
- name: Email aliases
  description: 'Email aliases provide a list of emails additional

    to the user''s primary login email.'
  x-box-tag: email_aliases
- name: Events
  description: 'Events provide a way for an

    application to subscribe to

    any actions performed by

    any user, users, or service in an enterprise.'
  x-box-tag: events
- name: File requests
  description: 'File Requests provide a fast and

    secure way to request files and associated metadata

    from anyone.

    Users can create new file requests

    based on an existing file request,

    update file request settings, activate, deactivate, and delete

    file requests programmatically.'
  x-box-tag: file_requests
- name: File version legal holds
  description: 'A legal hold is a process that an enterprise

    can use to preserve all forms of potentially relevant

    information when

    litigation is pending or reasonably anticipated.

    A File Version Legal Hold represents all the policies that

    are assigned to a specific file version.'
  x-box-tag: file_version_legal_holds
- name: File version retentions
  description: 'A retention policy blocks permanent

    deletion of content for a specified amount of time.

    A file version retention is a record for a retained file.'
  x-box-tag: file_version_retentions
- name: File versions
  description: 'A set of endpoints used to manage specific

    versions of a file.'
  x-box-tag: file_versions
- name: Files
  description: 'Files, together with Folders,

    are at the core of the Box API.

    Files can be uploaded and downloaded,

    as well as hold important metadata

    information about the content.'
  x-box-tag: files
- name: Folder Locks
  description: 'Folder locks define access restrictions

    placed by folder owners to prevent

    specific folders from being moved or deleted.'
  x-box-tag: folder_locks
- name: Folders
  description: 'Folders, together with Files,

    are at the core of the Box API.

    Folders can be uploaded and downloaded,

    as well as hold important metadata

    information about the content.'
  x-box-tag: folders
- name: Integration mappings
  description: 'Integration Mappings allow the users

    to manage where content from partner apps is stored in Box.'
  x-box-tag: integration_mappings
- name: Group memberships
  description: 'Group memberships signify that

    a user is a part of the group.'
  x-box-tag: memberships
- name: Groups
  description: Groups created in an enterprise.
  x-box-tag: groups
- name: Invites
  description: 'Invites are used to invite the user to

    an enterprise.'
  x-box-tag: invites
- name: Legal hold policies
  description: 'A legal hold is a process that an enterprise

    can use to preserve all forms of potentially

    relevant information when litigation is pending or

    reasonably anticipated.'
  x-box-tag: legal_hold_policies
- name: Legal hold policy assignments
  description: 'A Legal Hold Policy Assignment

    is a relation between a policy and custodian.

    In this case, as custodian can be a user, folder,

    file, or file version.'
  x-box-tag: legal_hold_policy_assignments
- name: Metadata cascade policies
  description: 'A metadata cascade policy describes how metadata

    instances applied to a folder should be applied

    to any item within that folder.'
  x-box-tag: metadata_cascade_policies
- name: Metadata instances (Files)
  description: 'A metadata instance describes

    the relation between a template and a file,

    including the values that are assigned for every field.'
  x-box-tag: file_metadata
- name: Metadata instances (Folders)
  description: 'A metadata instance describes the relation between a template and a folder,

    including the values that are assigned for every field.'
  x-box-tag: folder_metadata
- name: Metadata taxonomies
  description: 'A metadata taxonomy is a hierarchical classification system

    that helps organize and manage metadata

    within an enterprise.'
  x-box-tag: metadata_taxonomies
- name: Metadata templates
  description: 'A metadata template describes a reusable set

    of key/value pairs that can be assigned to a file.'
  x-box-tag: metadata_templates
- name: Recent items
  description: 'Recent items represent items such

    as files or folders that

    the user accessed recently.'
  x-box-tag: recent_items
- name: Retention policies
  description: 'A retention policy blocks permanent deletion of content

    for a specified amount of time. Admins can create

    retention policies and then assign them to

    specific folders or their entire enterprise.'
  x-box-tag: retention_policies
- name: Retention policy assignments
  description: 'A Retention Policy Assignment is a relation

    between a policy and folder or enterprise.

    Creating an assignment puts a retention on

    all the file versions that belong to that folder or enterprise.'
  x-box-tag: retention_policy_assignments
- name: Search
  description: 'The Box API provides a way to find content in Box

    using full-text search queries.'
  x-box-tag: search
- name: Session termination
  description: 'Session termination API is used to

    validate the roles and permissions of the group,

    and creates asynchronous jobs to terminate the group''s sessions.'
  x-box-tag: session_termination
- name: Shared links (Files)
  description: 'Files shared links are URLs that are generated for files stored in Box,

    which provide direct, read-only access to the resource.'
  x-box-tag: shared_links_files
- name: Shared links (Folders)
  description: 'Folders shared links are URLs that are generated for folders stored in Box,

    which provide direct, read-only access to the resource.'
  x-box-tag: shared_links_folders
- name: Shared links (Web Links)
  description: 'Web links for files are URLs that are generated

    for web links in Box,

    which provide direct, read-only access to the resource.'
  x-box-tag: shared_links_web_links
- name: Shared links (App Items)
  description: 'URLs generated for app items stored in Box,

    which provide direct, read-only access to the resource.'
  x-box-tag: shared_links_app_items
- name: Shield information barriers
  description: 'Shield information barrier in Box defines an ethical wall.

    An ethical wall is a mechanism that prevents exchanges or communication that

    could lead to conflicts of interest and therefore result in

    business activities ethically or legally questionable.'
  x-box-tag: shield_information_barriers
- name: Shield information barrier segments
  description: 'Shield information barrier segment represents

    a defined group of users. A user can be a member

    of only one segment, which makes segments

    different from groups.'
  x-box-tag: shield_information_barrier_segments
- name: Shield information barrier segment members
  description: 'Shield information barrier segment member

    represents a user that is assigned to a

    specific segment.'
  x-box-tag: shield_information_barrier_segment_members
- name: Shield information barrier reports
  description: 'Shield information barrier reports

    contain information on what existing collaborations

    will be removed permanently when the information barrier is enabled.'
  x-box-tag: shield_information_barrier_reports
- name: Shield information barrier segment restrictions
  description: 'Shield information barrier segment restriction is

    an access restriction based on the content (file or folder) owner.'
  x-box-tag: shield_information_barrier_segment_restrictions
- name: Box Sign templates
  description: 'Sign templates allow you to use a predefined Box Sign

    template when creating a signature request.

    The template includes placeholders that

    are automatically populated with data when creating the request.'
  x-box-tag: sign_templates
- name: Skills
  description: 'Box Skills are designed to allow custom processing

    of files uploaded to Box, with the

    intent of enhancing the underlying metadata of the file.'
  x-box-tag: skills
- name: Standard and Zones Storage Policies
  description: 'Storage policy assignment represents the

    storage zone for items in a given enterprise.'
  x-box-tag: storage_policies
- name: Standard and Zones Storage Policy Assignments
  description: 'Storage policy assignment represents the

    relation between storage zone and the

    assigned item (for example a file stored

    in a specific zone).'
  x-box-tag: storage_policy_assignments
- name: Task assignments
  description: 'A task assignment defines which

    task is assigned to which user to complete.'
  x-box-tag: task_assignments
- name: Tasks
  description: 'Tasks allow users to request collaborators on a file

    to review a file or complete a piece of work.

    Tasks can be used by developers to create file-centric workflows.'
  x-box-tag: tasks
- name: Terms of service
  description: 'A set of endpoints used to

    manage terms of service agreements.'
  x-box-tag: terms_of_services
- name: Terms of service user statuses
  description: 'A set of endpoints used to

    manage the status of terms of service

    for a particular user.'
  x-box-tag: terms_of_service_user_statuses
- name: Transfer folders
  description: 'API designed to move all of the items

    (files, folders and workflows)

    owned by a user into another user''s account.'
  x-box-tag: transfer
- name: Trashed files
  description: 'Files that were deleted and

    are in trash.'
  x-box-tag: trashed_files
- name: Trashed folders
  description: 'Folders that were deleted and

    are in trash.'
  x-box-tag: trashed_folders
- name: Trashed items
  description: 'Items that were deleted and

    are in trash.'
  x-box-tag: trashed_items
- name: Trashed web links
  description: 'Web links that were deleted and

    are in trash.'
  x-box-tag: trashed_web_links
- name: Uploads
  description: 'The direct file upload API supports files

    up to 50MB in size and sends all

    the binary data to the Box API in 1 API request.'
  x-box-tag: uploads
- name: Uploads (Chunked)
  description: 'The chunked upload endpoints support files from

    20MB in size and allow an application

    to upload the file in parts,

    allowing for more control to catch any errors

    and retry parts individually.'
  x-box-tag: chunked_uploads
- name: User avatars
  description: 'User avatars are JPG or PNG files

    uploaded to Box to represent the

    user image. They are then displayed

    in the user account.'
  x-box-tag: avatars
- name: Users
  description: 'Box API supports a variety of users,

    ranging from real employees

    logging in with their Managed User account,

    to applications using App Users to drive powerful

    automation workflows.'
  x-box-tag: users
- name: Watermarks (Files)
  description: 'A watermark is a semi-transparent

    overlay on an embedded file

    preview that displays a viewer''s email address

    or user ID and the time of access over

    the file.'
  x-box-tag: file_watermarks
- name: Watermarks (Folders)
  description: 'A watermark is a semi-transparent overlay on an embedded folder

    preview that displays a viewer''s email address or user ID

    and the time of access over

    the folder content.'
  x-box-tag: folder_watermarks
- name: Web links
  description: 'Web links are objects that point to URLs.

    These objects are also known as bookmarks

    within the Box web application.'
  x-box-tag: web_links
- name: Webhooks
  description: 'Webhooks allow you to monitor Box content for events,

    and receive notifications to a URL of your choice when they occur.

    For example, a workflow may include waiting

    for a file to be downloaded to delete a shared link.'
  x-box-tag: webhooks
- name: Workflows
  description: 'Box Relay Workflows are objects that represent

    a named collection of flows.'
  x-box-tag: workflows
- name: Zip Downloads
  description: 'Zip downloads represent a successful request

    to create a ZIP archive with files and folders.'
  x-box-tag: zip_downloads
paths:
  /authorize:
    get:
      tags:
      - Authorization
      summary: Authorize user
      description: 'Authorize a user by sending them through the [Box](https://box.com)

        website and request their permission to act on their behalf.


        This is the first step when authenticating a user using

        OAuth 2.0. To request a user''s authorization to use the Box APIs

        on their behalf you will need to send a user to the URL with this

        format.'
      operationId: authorizeUser
      parameters:
      - name: response_type
        in: query
        description: The type of response we'd like to receive
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: token
          enum:
          - code
        example: code
        x-ballerina-name: responseType
      - name: client_id
        in: query
        description: 'The Client ID of the application that is requesting to authenticate

          the user. To get the Client ID for your application, log in to your

          Box developer console and click the **Edit Application** link for

          the application you''re working with. In the OAuth 2.0 Parameters section

          of the configuration page, find the item labelled `client_id`. The

          text of that item is your application''s Client ID'
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: ly1nj6n11vionaie65emwzk575hnnmrk
        x-ballerina-name: clientId
      - name: redirect_uri
        in: query
        description: 'The URI to which Box redirects the browser after the user has granted

          or denied the application permission. This URI match one of the redirect

          URIs in the configuration of your application. It must be a

          valid HTTPS URI and it needs to be able to handle the redirection to

          complete the next step in the OAuth 2.0 flow.

          Although this parameter is optional, it must be a part of the

          authorization URL if you configured multiple redirect URIs

          for the application in the developer console. A missing parameter causes

          a `redirect_uri_missing` error after the user grants application access'
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: url
        example: http://example.com/auth/callback
        x-ballerina-name: redirectUri
      - name: state
        in: query
        description: 'A custom string of your choice. Box will pass the same string to

          the redirect URL when authentication is complete. This parameter

          can be used to identify a user on redirect, as well as protect

          against hijacked sessions and other exploits'
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: my_state
      - name: scope
        in: query
        description: 'A space-separated list of application scopes you''d like to

          authenticate the user for. This defaults to all the scopes configured

          for the application in its configuration page'
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: admin_readwrite
      responses:
        '200':
          description: Does not return any data, but rather should be used in the browser
          content:
            text/html:
              schema:
                type: string
                format: html
        default:
          description: Does not return any data, but rather should be used in the browser.
          content:
            text/html:
              schema:
                type: string
                format: html
      security: []
      servers:
      - url: https://account.box.com/api/oauth2
        description: Server for client-side authentication.
      x-box-tag: authorization
  /oauth2/token:
    post:
      tags:
      - Authorization
      summary: Request access token
      description: 'Request an Access Token using either a client-side obtained OAuth 2.0

        authorization code or a server-side JWT assertion.


        An Access Token is a string that enables Box to verify that a

        request belongs to an authorized session. In the normal order of

        operations you will begin by requesting authentication from the

        [authorize](https://developer.box.com/reference/get-authorize) endpoint and Box will send you
        an

        authorization code.


        You will then send this code to this endpoint to exchange it for

        an Access Token. The returned Access Token can then be used to to make

        Box API calls.'
      operationId: requestAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Token'
      responses:
        '200':
          description: 'Returns a new Access Token that can be used to make authenticated

            API calls by passing along the token in a authorization header as

            follows `Authorization: Bearer <Token>`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        default:
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
      security: []
      servers:
      - url: https://api.box.com
        description: Server for server-side authentication.
      x-box-tag: authorization
  /oauth2/token#refresh:
    post:
      tags:
      - Authorization
      summary: Refresh access token
      description: Refresh an Access Token using its client ID, secret, and refresh token.
      operationId: refreshAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2TokenRefreshAccessToken'
      responses:
        '200':
          description: 'Returns a new Access Token that can be used to make authenticated

            API calls by passing along the token in a authorization header as

            follows `Authorization: Bearer <Token>`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '400':
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        default:
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
      security: []
      servers:
      - url: https://api.box.com
        description: Server for server-side authentication.
      x-box-tag: authorization
      x-box-is-variation: true
  /oauth2/revoke:
    post:
      tags:
      - Authorization
      summary: Revoke access token
      description: 'Revoke an active Access Token, effectively logging a user out

        that has been previously authenticated.'
      operationId: revokeAccessToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PostOAuth2Revoke'
      responses:
        '200':
          description: Returns an empty response when the token was successfully revoked
        '400':
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        default:
          description: An authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Error'
      security: []
      servers:
      - url: https://api.box.com
        description: Server for server-side authentication.
      x-box-tag: authorization
  /files/{fileId}:
    get:
      tags:
      - Files
      summary: Get file information
      description: Retrieves the details about a file.
      operationId: getFileInformation
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested.


          Additionally this field can be used to query any metadata

          applied to the file by specifying the `metadata` field as well

          as the scope and key of the template to retrieve, for example

          `?fields=metadata.enterprise_12345.contractTemplate`'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      - name: if-none-match
        in: header
        description: 'Ensures an item is only returned if it has changed.


          Pass in the item''s last observed `etag` value

          into this header and the endpoint will fail

          with a `304 Not Modified` if the item has not

          changed since'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: '1'
        x-ballerina-name: ifNoneMatch
      - name: boxapi
        in: header
        description: 'The URL, and optional password, for the shared link of this item.


          This header can be used to access items that have not been

          explicitly shared with a user.


          Use the format `shared_link=[link]` or if a password is required then

          use `shared_link=[link]&shared_link_password=[password]`.


          This header can be used on the file or folder shared, as well as on any files

          or folders nested within the item'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: shared_link=[link]&shared_link_password=[password]
      - name: x-rep-hints
        in: header
        description: 'A header required to request specific `representations`

          of a file. Use this in combination with the `fields` query

          parameter to request a specific file representation.


          The general format for these representations is

          `X-Rep-Hints: [...]` where `[...]` is one or many

          hints in the format `[fileType?query]`.


          For example, to request a `png` representation in `32x32`

          as well as `64x64` pixel dimensions provide the following

          hints.


          `x-rep-hints: [jpg?dimensions=32x32][jpg?dimensions=64x64]`


          Additionally, a `text` representation is available for all

          document file types in Box using the `[extracted_text]`

          representation.


          `x-rep-hints: [extracted_text]`'
        required: false
        style: simple
        explode: false
        schema:
          type: string
          nullable: true
        example: '[pdf]'
        x-ballerina-name: xRepHints
      responses:
        '200':
          description: 'Returns a file object.


            Not all available fields are returned by default. Use the

            [fields](#parameter-fields) query parameter to explicitly request

            any specific fields'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileFull'
        '304':
          description: 'Returns an empty response when the `If-None-Match` header matches

            the current `etag` value of the folder. This indicates that the folder

            has not changed since it was last requested.'
        '401':
          description: 'Returned when the access token provided in the `Authorization` header

            is not recognized or not provided.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found, or the user does not

            have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '415':
          description: "Returns an error if an action is performed on a file with an\nincorrect media\
            \ type.\n\n* `unsupported_media_type` when requesting an `expiring_embed_link`\n  for a file\
            \ that is not supported by Box Embed."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: files
    put:
      tags:
      - Files
      summary: Update file
      description: 'Updates a file. This can be used to rename or move a file,

        create a shared link, or lock a file.'
      operationId: updateFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      - name: if-match
        in: header
        description: 'Ensures this item hasn''t recently changed before

          making changes.


          Pass in the item''s last observed `etag` value

          into this header and the endpoint will fail

          with a `412 Precondition Failed` if it

          has changed since'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: '1'
        x-ballerina-name: ifMatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileRequest'
      responses:
        '200':
          description: 'Returns a file object.


            Not all available fields are returned by default. Use the

            [fields](#parameter-fields) query parameter to explicitly request

            any specific fields'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileFull'
        '400':
          description: Returned when the new retention time > maximum retention length.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '401':
          description: 'Returned when the access token provided in the `Authorization` header

            is not recognized or not provided.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: 'Returned if the user does not have all the permissions to complete the

            update.


            * `access_denied_insufficient_permissions` returned

            when the authenticated user does not have access

            to the destination folder to move the file to.

            * Returned when retention time is shorter or equal to current retention

            timestamp.

            * Returned when a `file_id` that is not under retention is entered.

            * Returned when a file that is retained but the disposition action is set

            to `remove_retention`

            * `forbidden_by_policy` is returned if copying a folder is

            forbidden due to information barrier restrictions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found, or the user does not

            have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: 'Returns an error when the `If-Match` header does not match

            the current `etag` value of the file. This indicates that the file

            has changed since it was last requested.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: files
    post:
      tags:
      - Trashed files
      summary: Restore file
      description: 'Restores a file that has been moved to the trash.


        An optional new parent ID can be provided to restore the file to in case the

        original folder has been deleted.'
      operationId: restoreFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreFileRequest'
      responses:
        '201':
          description: Returns a file object when the file has been restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrashFileRestored'
        '403':
          description: 'Returns an error if the user does not have access to the folder

            the file is being restored to, or the user does not have permission

            to restore files from the trash.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: Returns an error if the file is not in the trash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: 'Returns an error if there is an file with the same name

            in the folder the file is being restored to.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: trashed_files
    delete:
      tags:
      - Files
      summary: Delete file
      description: 'Deletes a file, either permanently or by moving it to

        the trash.


        The enterprise settings determine whether the item will

        be permanently deleted from Box or moved to the trash.'
      operationId: deleteFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: if-match
        in: header
        description: 'Ensures this item hasn''t recently changed before

          making changes.


          Pass in the item''s last observed `etag` value

          into this header and the endpoint will fail

          with a `412 Precondition Failed` if it

          has changed since'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: '1'
        x-ballerina-name: ifMatch
      responses:
        '204':
          description: 'Returns an empty response when the file has been successfully

            deleted'
        '401':
          description: 'Returned when the access token provided in the `Authorization` header

            is not recognized or not provided.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returned if the file is not found or has already been deleted, or the user

            does not have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `file_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: 'Returns an error when the `If-Match` header does not match

            the current `etag` value of the file. This indicates that the file

            has changed since it was last requested.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: files
  /files/{fileId}/app_item_associations:
    get:
      tags:
      - App item associations
      summary: List file app item associations
      description: '**This is a beta feature, which means that its availability might be limited.**

        Returns all app items the file is associated with. This includes app items

        associated with ancestors of the file. Assuming the context user has access

        to the file, the type/ids are revealed even if the context user does not

        have **View** permission on the app item.'
      operationId: listFileAppItemAssociations
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: limit
        in: query
        description: The maximum number of items to return per page
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int64
        example: 1000
      - name: marker
        in: query
        description: 'Defines the position marker at which to begin returning results. This is

          used when paginating using marker-based pagination.


          This requires `usemarker` to be set to `true`'
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
      - name: application_type
        in: query
        description: If given, only return app items for this application type
        required: false
        style: form
        explode: true
        schema:
          type: string
          nullable: false
        example: hubs
        x-ballerina-name: applicationType
      responses:
        '200':
          description: 'Returns a collection of app item objects. If there are no

            app items on this file, an empty collection will be returned.

            This list includes app items on ancestors of this File'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppItemAssociations'
        '404':
          description: 'Returned if the file is not found, or the user does not

            have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: app_item_associations
  /files/{fileId}/content:
    get:
      tags:
      - Downloads
      summary: Download file
      description: Returns the contents of a file in binary format.
      operationId: downloadFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: range
        in: header
        description: 'The byte range of the content to download.


          The format `bytes={start_byte}-{end_byte}` can be used to specify

          what section of the file to download'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: bytes=0-1024
      - name: boxapi
        in: header
        description: 'The URL, and optional password, for the shared link of this item.


          This header can be used to access items that have not been

          explicitly shared with a user.


          Use the format `shared_link=[link]` or if a password is required then

          use `shared_link=[link]&shared_link_password=[password]`.


          This header can be used on the file or folder shared, as well as on any files

          or folders nested within the item'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: shared_link=[link]&shared_link_password=[password]
      - name: version
        in: query
        description: The file version to download
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: '4'
      - name: access_token
        in: query
        description: 'An optional access token that can be used to pre-authenticate this request, which
          means that a download link can be shared with a browser or a third party service without them
          needing to know how to handle the authentication.

          When using this parameter, please make sure that the access token is sufficiently scoped down
          to only allow read access to that file and no other files or folders'
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
        x-ballerina-name: accessToken
      responses:
        '200':
          description: 'Returns the requested file if the client has the **follow

            redirects** setting enabled to automatically

            follow HTTP `3xx` responses as redirects. If not, the request

            will return `302` instead.

            For details, see

            the [download file guide](https://developer.box.com/guides/downloads/file#download-url)'
          content:
            application/octet-stream:
              schema:
                type: string
                description: The binary content of the file.
                format: binary
        '202':
          description: 'If the file is not ready to be downloaded yet `Retry-After` header will

            be returned indicating the time in seconds after which the file will

            be available for the client to download.


            This response can occur when the file was uploaded immediately before the

            download request.'
          headers:
            Retry-After:
              description: The time in seconds after which to retry the download.
              style: simple
              explode: false
              schema:
                type: integer
        '302':
          description: 'If the file is available for download the response will include a

            `Location` header for the file on `dl.boxcloud.com`.


            The `dl.boxcloud.com` URL is not persistent and clients will need

            to follow the redirect to actually download the file.'
          headers:
            Location:
              description: A pointer to the download URL.
              style: simple
              explode: false
              schema:
                type: string
                format: url
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: downloads
    post:
      tags:
      - Uploads
      summary: Upload file version
      description: 'Update a file''s content. For file sizes over 50MB we recommend

        using the Chunk Upload APIs.


        The `attributes` part of the body must come **before** the

        `file` part. Requests that do not follow this format when

        uploading the file will receive a HTTP `400` error with a

        `metadata_after_file_contents` error code.'
      operationId: uploadFileVersion
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: if-match
        in: header
        description: 'Ensures this item hasn''t recently changed before

          making changes.


          Pass in the item''s last observed `etag` value

          into this header and the endpoint will fail

          with a `412 Precondition Failed` if it

          has changed since'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: '1'
        x-ballerina-name: ifMatch
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      - name: content-md5
        in: header
        description: 'An optional header containing the SHA1 hash of the file to

          ensure that the file was not corrupted in transit'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
        x-ballerina-name: contentMd5
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileVersionRequest'
      responses:
        '200':
          description: Returns the new file object in a list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '412':
          description: 'Returns an error when the `If-Match` header does not match

            the current `etag` value of the file. This indicates that the file

            has changed since it was last requested.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://upload.box.com/api/2.0
        description: Server for file uploads.
      x-box-tag: uploads
  /files/content:
    post:
      tags:
      - Uploads
      summary: Upload file
      description: 'Uploads a small file to Box. For file sizes over 50MB we recommend

        using the Chunk Upload APIs.


        The `attributes` part of the body must come **before** the

        `file` part. Requests that do not follow this format when

        uploading the file will receive a HTTP `400` error with a

        `metadata_after_file_contents` error code.'
      operationId: uploadFile
      parameters:
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      - name: content-md5
        in: header
        description: 'An optional header containing the SHA1 hash of the file to

          ensure that the file was not corrupted in transit'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
        x-ballerina-name: contentMd5
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
      responses:
        '201':
          description: Returns the new file object in a list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '400':
          description: "Returns an error if some of the parameters are missing or\nnot valid.\n* `bad_request`\
            \ when a parameter is missing or incorrect.\n* `item_name_too_long` when the folder name is\
            \ too long.\n* `item_name_invalid` when the folder name contains\n  non-valid characters."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: 'Returns an error if the parent folder

            does not exist or if the user

            is not authorized to access the parent folder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: 'Returns an error if the file already exists,

            or the account has run out of disk space.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://upload.box.com/api/2.0
        description: Server for file uploads.
      x-box-tag: uploads
    options:
      tags:
      - Files
      summary: Preflight check before upload
      description: 'Performs a check to verify that a file will be accepted by Box

        before you upload the entire file.'
      operationId: preflightCheckBeforeUpload
      responses:
        '200':
          description: 'If the check passed, the response will include a session URL that

            can be used to upload the file to'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrl'
        '409':
          description: 'If the check did not pass, the response will include some details on

            why it did not pass.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: uploads
  /files/upload_sessions:
    post:
      tags:
      - Uploads (Chunked)
      summary: Create upload session
      description: Creates an upload session for a new file.
      operationId: createUploadSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadSessionRequest'
      responses:
        '201':
          description: Returns a new upload session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '400':
          description: "Returns an error if some of the parameters are missing or\nnot valid.\n\n* `missing_destination`:\
            \ No `folder_id` was provided.\n* `invalid_folder_id`: `folder_id` is not valid.\n* `item_name_invalid`:\
            \ `file_name` is not valid.\n* `missing_file_size`: `file_size` was not provided.\n* `invalid_file_size`:\
            \ `file_size` was not a valid number.\n* `file_size_too_small`: `file_size` is below minimum\
            \ file size for\n  uploads via this API.\n* `missing_file_name`: `file_name` was not provided."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: 'Returns an error if the operation is not allowed for some reason.


            * `storage_limit_exceeded`: Account storage limit reached.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: "Returns an error if the parent folder could not be found, or\nthe authenticated\
            \ user does not have access to it.\n\n* `invalid_parameter`: The `folder_id` value represents\
            \ a\n  folder that the user does not have access to, or does not\n  exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: 'Returns an error if the file already exists,

            or the account has run out of disk space.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://upload.box.com/api/2.0
        description: Server for file uploads.
      x-box-tag: chunked_uploads
  /files/{fileId}/upload_sessions:
    post:
      tags:
      - Uploads (Chunked)
      summary: Create upload session for existing file
      description: Creates an upload session for an existing file.
      operationId: createUploadSessionForExistingFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadSessionForExistingFileRequest'
      responses:
        '201':
          description: Returns a new upload session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        '409':
          description: 'Returns an error if the file already exists,

            or if the account has run out of disk space.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://upload.box.com/api/2.0
        description: Server for file uploads.
      x-box-tag: chunked_uploads
  /files/upload_sessions/{uploadSessionId}:
    get:
      tags:
      - Uploads (Chunked)
      summary: Get upload session
      description: 'Return information about an upload session.


        The actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions)
        endpoint.'
      operationId: getUploadSession
      parameters:
      - name: uploadSessionId
        in: path
        description: The ID of the upload session
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: D5E3F7A
      responses:
        '200':
          description: Returns an upload session object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://{box-upload-server}/api/2.0
        description: Server for file uploads.
        variables:
          box-upload-server:
            description: The server for the upload session.
            default: upload.box.com
      x-box-tag: chunked_uploads
      x-box-enable-explorer: false
    put:
      tags:
      - Uploads (Chunked)
      summary: Upload part of file
      description: 'Uploads a chunk of a file for an upload session.


        The actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions)

        and [`Get upload session`](https://developer.box.com/reference/get-files-upload-sessions-id) endpoints.'
      operationId: uploadPartOfFile
      parameters:
      - name: uploadSessionId
        in: path
        description: The ID of the upload session
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: D5E3F7A
      - name: digest
        in: header
        description: 'The [RFC3230][1] message digest of the chunk uploaded.


          Only SHA1 is supported. The SHA1 digest must be base64

          encoded. The format of this header is as

          `sha=BASE64_ENCODED_DIGEST`.


          To get the value for the `SHA` digest, use the

          openSSL command to encode the file part:

          `openssl sha1 -binary <FILE_PART_NAME> | base64`.


          [1]: https://tools.ietf.org/html/rfc3230'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
      - name: content-range
        in: header
        description: "The byte range of the chunk.\n\nMust not overlap with the range of a part already\n\
          uploaded this session. Each part’s size must be\nexactly equal in size to the part size specified\n\
          in the upload session that you created.\nOne exception is the last part of the file, as this\
          \ can be smaller.\n\nWhen providing the value for `content-range`, remember that:\n\n* The lower\
          \ bound of each part's byte range\n  must be a multiple of the part size.\n* The higher bound\
          \ must be a multiple of the part size - 1"
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: bytes 8388608-16777215/445856194
        x-ballerina-name: contentRange
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              description: The binary content of the file.
              format: binary
      responses:
        '200':
          description: Chunk has been uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedPart'
        '409':
          description: 'Returns an error if the chunk conflicts with another

            chunk previously uploaded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error if a precondition was not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '416':
          description: 'Returns an error if the content range does not match a specified range

            for the session.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://{box-upload-server}/api/2.0
        description: Server for file uploads.
        variables:
          box-upload-server:
            description: The server for the upload session.
            default: upload.box.com
      x-box-tag: chunked_uploads
      x-box-enable-explorer: false
    delete:
      tags:
      - Uploads (Chunked)
      summary: Remove upload session
      description: 'Abort an upload session and discard all data uploaded.


        This cannot be reversed.


        The actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions)

        and [`Get upload session`](https://developer.box.com/reference/get-files-upload-sessions-id) endpoints.'
      operationId: removeUploadSession
      parameters:
      - name: uploadSessionId
        in: path
        description: The ID of the upload session
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: D5E3F7A
      responses:
        '204':
          description: 'A blank response is returned if the session was

            successfully aborted'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://{box-upload-server}/api/2.0
        description: Server for file uploads.
        variables:
          box-upload-server:
            description: The server for the upload session.
            default: upload.box.com
      x-box-tag: chunked_uploads
      x-box-enable-explorer: false
  /files/upload_sessions/{uploadSessionId}/parts:
    get:
      tags:
      - Uploads (Chunked)
      summary: List parts
      description: 'Return a list of the chunks uploaded to the upload session so far.


        The actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions)

        and [`Get upload session`](https://developer.box.com/reference/get-files-upload-sessions-id) endpoints.'
      operationId: listParts
      parameters:
      - name: uploadSessionId
        in: path
        description: The ID of the upload session
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: D5E3F7A
      - name: offset
        in: query
        description: 'The offset of the item at which to begin the response.


          Queries with offset parameter value

          exceeding 10000 will be rejected

          with a 400 response'
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
        example: 1000
      - name: limit
        in: query
        description: The maximum number of items to return per page
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int64
        example: 1000
      responses:
        '200':
          description: Returns a list of parts that have been uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadParts'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://{box-upload-server}/api/2.0
        description: Server for file uploads.
        variables:
          box-upload-server:
            description: The server for the upload session.
            default: upload.box.com
      x-box-tag: chunked_uploads
      x-box-enable-explorer: false
  /files/upload_sessions/{uploadSessionId}/plan:
    post:
      tags:
      - Uploads (Chunked)
      summary: Plan upload session
      description: 'Plan an upload session by checking which parts already exist on the server.

        This endpoint allows clients to optimize uploads by skipping parts that

        have already been uploaded (cache hits) and only uploading missing parts.


        The actual endpoint URL is returned by the [`Create upload session`](e://post-files-upload-sessions)

        and [`Get upload session`](e://get-files-upload-sessions-id) endpoints.'
      operationId: planUploadSession
      parameters:
      - name: uploadSessionId
        in: path
        description: The ID of the upload session
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: D5E3F7A
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadSessionPlanRequest'
      responses:
        '200':
          description: 'Returns information about which parts already exist (hits)

            and which parts need to be uploaded (misses)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSessionPlanResponse'
        '404':
          description: Returns an error if the upload session cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://{box-upload-server}/api/2.0
        description: Server for file uploads.
        variables:
          box-upload-server:
            description: The server for the upload session.
            default: upload.box.com
      x-box-tag: chunked_uploads
      x-box-enable-explorer: false
  /files/upload_sessions/{uploadSessionId}/commit:
    post:
      tags:
      - Uploads (Chunked)
      summary: Commit upload session
      description: 'Close an upload session and create a file from the uploaded chunks.


        The actual endpoint URL is returned by the [`Create upload session`](https://developer.box.com/reference/post-files-upload-sessions)

        and [`Get upload session`](https://developer.box.com/reference/get-files-upload-sessions-id) endpoints.'
      operationId: commitUploadSession
      parameters:
      - name: uploadSessionId
        in: path
        description: The ID of the upload session
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: D5E3F7A
      - name: digest
        in: header
        description: 'The [RFC3230][1] message digest of the whole file.


          Only SHA1 is supported. The SHA1 digest must be Base64

          encoded. The format of this header is as

          `sha=BASE64_ENCODED_DIGEST`.


          [1]: https://tools.ietf.org/html/rfc3230'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
      - name: if-match
        in: header
        description: 'Ensures this item hasn''t recently changed before

          making changes.


          Pass in the item''s last observed `etag` value

          into this header and the endpoint will fail

          with a `412 Precondition Failed` if it

          has changed since'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: '1'
        x-ballerina-name: ifMatch
      - name: if-none-match
        in: header
        description: 'Ensures an item is only returned if it has changed.


          Pass in the item''s last observed `etag` value

          into this header and the endpoint will fail

          with a `304 Not Modified` if the item has not

          changed since'
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: '1'
        x-ballerina-name: ifNoneMatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitUploadSessionRequest'
      responses:
        '201':
          description: Returns the file object in a list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
        '202':
          description: 'Returns when all chunks have been uploaded but not yet processed.


            Inspect the upload session to get more information about the

            progress of processing the chunks, then retry committing the file

            when all chunks have processed.'
          headers:
            Retry-After:
              description: 'Indicates the number of seconds the client should wait before

                attempting their commit request again.'
              style: simple
              explode: false
              schema:
                type: integer
        '409':
          description: 'Returns an error if there is already a file with the same name

            in the target folder.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '412':
          description: Returns an error if the `If-Match` or `If-None-Match` conditions fail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      servers:
      - url: https://{box-upload-server}/api/2.0
        description: Server for file uploads.
        variables:
          box-upload-server:
            description: The server for the upload session.
            default: upload.box.com
      x-box-tag: chunked_uploads
      x-box-enable-explorer: false
  /files/{fileId}/copy:
    post:
      tags:
      - Files
      summary: Copy file
      description: Creates a copy of a file.
      operationId: copyFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyFileRequest'
      responses:
        '201':
          description: 'Returns a new file object representing the copied file.


            Not all available fields are returned by default. Use the

            [fields](#parameter-fields) query parameter to explicitly request

            any specific fields'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileFull'
        '304':
          description: 'Returns an empty response when the `If-None-Match` header matches

            the current `etag` value of the file. This indicates that the file

            has not changed since it was last requested.'
        '400':
          description: 'Returns an error if some of the parameters are missing or

            not valid.


            * `bad_request` when a parameter is missing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: 'Returns an error when the user does not have the

            right permissions to create the copy a file.


            * `forbidden_by_policy`: Returned if copying a file is

            forbidden due to information barrier restrictions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: "Returns an error if either the source file or the destination\nfolder could not\
            \ be found, or the authenticated user does not\nhave access to either.\n\n* `not_found` when\
            \ the authenticated user does not have access\n  to the source file or the destination folder."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '409':
          description: '`operation_blocked_temporary`: Returned if either of the destination

            or source folders is locked due to another move, copy, delete or

            restore operation in process.


            The operation can be retried at a later point.


            `item_name_in_use` when a folder with the same name already

            exists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: files
  /files/{fileId}/thumbnail.{extension}:
    get:
      tags:
      - Files
      summary: Get file thumbnail
      description: 'Retrieves a thumbnail, or smaller image representation, of a file.


        Sizes of `32x32`,`64x64`, `128x128`, and `256x256` can be returned in

        the `.png` format and sizes of `32x32`, `160x160`, and `320x320`

        can be returned in the `.jpg` format.


        Thumbnails can be generated for the image and video file formats listed

        [found on our community site][1].


        [1]: https://community.box.com/t5/Migrating-and-Previewing-Content/File-Types-and-Fonts-Supported-in-Box-Content-Preview/ta-p/327'
      operationId: getFileThumbnail
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: extension
        in: path
        description: The file format for the thumbnail
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - png
          - jpg
        example: png
      - name: min_height
        in: query
        description: The minimum height of the thumbnail
        required: false
        style: form
        explode: true
        schema:
          maximum: 320
          minimum: 32
          type: integer
        example: 32
        x-ballerina-name: minHeight
      - name: min_width
        in: query
        description: The minimum width of the thumbnail
        required: false
        style: form
        explode: true
        schema:
          maximum: 320
          minimum: 32
          type: integer
        example: 32
        x-ballerina-name: minWidth
      - name: max_height
        in: query
        description: The maximum height of the thumbnail
        required: false
        style: form
        explode: true
        schema:
          maximum: 320
          minimum: 32
          type: integer
        example: 320
        x-ballerina-name: maxHeight
      - name: max_width
        in: query
        description: The maximum width of the thumbnail
        required: false
        style: form
        explode: true
        schema:
          maximum: 320
          minimum: 32
          type: integer
        example: 320
        x-ballerina-name: maxWidth
      responses:
        '200':
          description: 'When a thumbnail can be created the thumbnail data will be

            returned in the body of the response'
          content:
            application/octet-stream:
              schema:
                type: string
                description: The thumbnail.
                format: binary
        '202':
          description: 'Sometimes generating a thumbnail can take a few seconds. In these

            situations the API returns a `Location`-header pointing to a

            placeholder graphic for this file type.


            The placeholder graphic can be used in a user interface until the

            thumbnail generation has completed. The `Retry-After`-header indicates

            when to the thumbnail will be ready. At that time, retry this endpoint

            to retrieve the thumbnail.'
          headers:
            Retry-After:
              description: 'The time in seconds after which the thumbnail will be available.


                Your application  only attempt to get the thumbnail again after

                this time.'
              style: simple
              explode: false
              schema:
                type: integer
                format: int64
            Location:
              description: 'A pointer to a placeholder graphic that can be used until the

                thumbnail has been generated.'
              style: simple
              explode: false
              schema:
                type: string
                format: url
        '302':
          description: 'Returns an error when Box is not able to create a thumbnail for this

            file type.


            Instead, a `Location`-header pointing to a placeholder graphic for

            this file type will be returned.'
          headers:
            Location:
              description: 'A pointer to a placeholder graphic that can be used for this

                file type.'
              style: simple
              explode: false
              schema:
                type: string
                format: url
        '400':
          description: "Returns an error if some of the parameters are missing or\nnot valid.\n\n* `requested_preview_unavailable`\
            \ - an incorrect dimension was\n  requested. This will happen if the dimension requested is\n\
            \  larger or smaller than the available file sizes for the thumbnail\n  format, or when when\
            \ any of the size constraints contradict\n  each other."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '403':
          description: 'Returned when the access token provided in the `Authorization` header

            is not recognized or not provided.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: "Returned if the file is not found, or the user does not\nhave access to the file,\
            \ or for additional reasons.\n\n* `preview_cannot_be_generated` - Box does not support thumbnails\n\
            \  for this type of file."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: files
  /files/{fileId}/collaborations:
    get:
      tags:
      - Collaborations (List)
      summary: List file collaborations
      description: 'Retrieves a list of pending and active collaborations for a

        file. This returns all the users that have access to the file

        or have been invited to the file.'
      operationId: listFileCollaborations
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      - name: limit
        in: query
        description: The maximum number of items to return per page
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int64
        example: 1000
      - name: marker
        in: query
        description: 'Defines the position marker at which to begin returning results. This is

          used when paginating using marker-based pagination.


          This requires `usemarker` to be set to `true`'
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
      responses:
        '200':
          description: 'Returns a collection of collaboration objects. If there are no

            collaborations on this file an empty collection will be returned.


            This list includes pending collaborations, for which the `status`

            is set to `pending`, indicating invitations that have been sent but not

            yet accepted'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborations'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: list_collaborations
  /files/{fileId}/comments:
    get:
      tags:
      - Comments
      summary: List file comments
      description: Retrieves a list of comments for a file.
      operationId: listFileComments
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      - name: limit
        in: query
        description: The maximum number of items to return per page
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          format: int64
        example: 1000
      - name: offset
        in: query
        description: 'The offset of the item at which to begin the response.


          Queries with offset parameter value

          exceeding 10000 will be rejected

          with a 400 response'
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          default: 0
        example: 1000
      responses:
        '200':
          description: 'Returns a collection of comment objects. If there are no

            comments on this file an empty collection will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comments'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: comments
  /files/{fileId}/tasks:
    get:
      tags:
      - Tasks
      summary: List tasks on file
      description: 'Retrieves a list of all the tasks for a file. This

        endpoint does not support pagination.'
      operationId: listTasksOnFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: 'Returns a list of tasks on a file.


            If there are no tasks on this file an empty collection is returned

            instead'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
        '404':
          description: 'Returns an error when the file could not be found or the user does not

            have access to the file.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returns an error when the `file_id` was not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '500':
          description: 'Returns an error when an attempt was made to retrieve tasks for the file

            with ID `0`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: tasks
  /files/{fileId}/trash:
    get:
      tags:
      - Trashed files
      summary: Get trashed file
      description: 'Retrieves a file that has been moved to the trash.


        Please note that only if the file itself has been moved to the

        trash can it be retrieved with this API call. If instead one of

        its parent folders was moved to the trash, only that folder

        can be inspected using the

        [`GET /folders/:id/trash`](https://developer.box.com/reference/get-folders-id-trash) API.


        To list all items that have been moved to the trash, please

        use the [`GET /folders/trash/items`](https://developer.box.com/reference/get-folders-trash-items/)

        API.'
      operationId: getTrashedFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      - name: fields
        in: query
        description: 'A comma-separated list of attributes to include in the

          response. This can be used to request fields that are

          not normally returned in a standard response.


          Be aware that specifying this parameter will have the

          effect that none of the standard fields are returned in

          the response unless explicitly specified, instead only

          fields for the mini representation are returned, additional

          to the fields requested'
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - id
        - type
        - name
      responses:
        '200':
          description: 'Returns the file that was trashed,

            including information about when the it

            was moved to the trash'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrashFile'
        '404':
          description: 'Returns an error if the file can not be found directly

            in the trash.


            Please note that a `HTTP 404` is also returned if any of

            the file''s parent folders have been moved to the trash.


            In that case, only that parent folder can be inspected using

            the [`GET /folders/:id/trash`](https://developer.box.com/reference/get-folders-id-trash) API.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: trashed_files
    delete:
      tags:
      - Trashed files
      summary: Permanently remove file
      description: 'Permanently deletes a file that is in the trash.

        This action cannot be undone.'
      operationId: permanentlyRemoveFile
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: '12345'
      responses:
        '204':
          description: 'Returns an empty response when the file was

            permanently deleted'
        '404':
          description: Returns an error if the file is not in the trash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      x-box-tag: trashed_files
  /files/{fileId}/versions:
    get:
      tags:
      - File versions
      summary: List all file versions
      description: 'Retrieve a list of the past versions for a file.


        Versions are only tracked by Box users with premium accounts. To fetch the ID

        of the current version of a file, use the `GET /file/:id` API.'
      operationId: listAllFileVersions
      parameters:
      - name: fileId
        in: path
        description: 'The unique identifier that represents a file.


          The ID for any file can be determined

          by visiting a file in the web application

          and copying the ID from the URL. For example,

          for the URL `https://*.app.box.com/files/123`

          the `file_id` is `123`'
        required: true
        style: simple
        explode: false
        schema:
          type: string
[...]
